.Rregister-container {
  background-color: white;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 600px;
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: 50px auto; 
  position: relative; 
}

.Rregister-container:before {
  content: ""; 
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-image: url('/images/logo1.png');
  background-repeat: no-repeat; 
  background-size: 450px auto; 
  background-position: top -100px right -60px;
  opacity: 0.2;
  pointer-events: none; 
}

/* Title Styles */
.Rregister-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #505050;

}

.Rregister-form {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  width: 500px; 
  gap: 1rem; 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}


/* Input Fields */
.Rregister-input {
  width: 100%;
  max-width: 400px;
  padding: 0.8rem; 
  margin-bottom: 0.4rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.Rregister-input:focus {
  border-color: #686868;; /* Green border on focus */
  outline: none; /* Remove default outline */
  box-shadow: 0 0 5px rgba(129, 129, 129, 0.5)
}

.Remail-offers-container {
  display: flex;
  align-items: flex-start; /* 텍스트를 체크박스와 수직 정렬 */
  margin-bottom: 0rem;
  font-size: 0.9rem;
  color: #505050;
  line-height: 1.4; /* 텍스트 줄 간격 */
  text-align: left; /* 텍스트 정렬 */
  width: 100%; /* 부모 컨테이너의 너비 */
  max-width: 400px; /* 최대 너비 제한 */

  padding: 1rem; /* 내부 여백 */
}

.Remail-offers-checkbox {
  margin-right: 0.8rem; /* 체크박스와 텍스트 간 간격 */
  cursor: pointer;
  width: 18px; /* 체크박스 크기 */
  height: 18px; /* 체크박스 크기 */
}

.Remail-offers-label {
  flex: 1; /* 텍스트가 나머지 공간을 차지하도록 설정 */
  font-size: 0.9rem;
  color: #505050;
  cursor: pointer;

}


.Rsignup-text {
  font-size: 0.85rem;
  color: #888;
  margin-bottom: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* Register Button */
.Rregister-button {
  width: 40%;
  padding: 0.8rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.Rregister-button:hover {
  background-color:  #8f8f8f;
}

.Rlogin-link-text {
  margin-top: 0.2rem;
  font-size: 0.9rem;
}

.Rlogin-link-text a {
  color: #800080;
  text-decoration: none;
}

.Rlogin-link-text a:hover {
  text-decoration: underline;
}
