/* ShoppingCart.css */
.king-cart-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  max-width: 1200px;
  font-family: Arial, sans-serif;
}

.king-cart-title {
  font-size: 1.5rem;
    font-weight: 500;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    margin: 0;
}

.king-cart-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.king-cart-items {
  flex: 2;
  
  padding: 20px;
  border-radius: 8px;

}

.king-cart-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.king-cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.king-cart-image {
  width: 100px;
  height: 140px;
  margin-right: 20px;
}

.king-item-details {
  flex: 1;
  margin-left: -8px;
  margin-top: -20px;
}

.king-item-title {
  margin: 0;
    font-size: 1.1rem;
    
    font-weight: 600;
    font-family: Arial, sans-serif;
    color: #333;
}

.king-item-author,
.king-item-category {
  font-size: 0.9rem;

  margin: 5px 0;
  font-family: Arial, sans-serif;
    color: #333;
}

.king-item-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -20px;
}

.king-item-price {
  font-size: 1rem;
  font-family: Arial, sans-serif;
    color: #333;
  font-weight: 500;
  padding-left: 20px;
  margin-left: -200px;
}

.king-quantity-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.king-quantity-button {
  padding: 5px 10px;
  background-color: white;
  color:  #333;
  border: 0.5px solid black;
  border-radius: 0px;
  cursor: pointer;
}
.king-quantity-button:hover{
  background-color: #e6e5e5;
}

.king-quantity {
  font-size: 1rem;
  margin: 0 5px;
}

.king-remove-button {
  background: none;
  border: none;
  cursor: pointer;
}

.king-trash-icon {
  width: 20px;
  height: 20px;
}

.king-order-summary {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.king-order-summary h2 {
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
  color: #333;
  margin-bottom: 20px;
}

.king-summary-divider {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.king-total {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.king-checkout-button {
  background-color: #333;
  color: #f7f7f7;
  font-family: Arial, sans-serif;

  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0px;
}

.king-checkout-button:hover {
  background-color: #838383;
}
.king-promo-code {
  margin-top: 10px;
}

.king-show-more {
  background: none;
  border: none;
  color: #0c0c0c;
  cursor: pointer;
}

.king-promo-input {
  margin-top: 10px;
  padding: 8px;
  width: 200px;
}

.king-apply-button {
  height: 35px;
  margin-top: 10px;
  margin-left: 5px;
  color: #fff;
  background-color: #333;
}

.king-promo-error {
  color: rgb(209, 20, 20);
  margin-top: 5px;
}

.king-promo-code p {
  margin-top: 10px;
  font-size: 12px;
  color: #666;
}
#SAVINGSD{
  color: rgb(214, 82, 82);
}
#kkkkkkkk{
  margin-left: 130px;
  margin-top: -100;
}